<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <nav>
        <img src="/static/img/PRODUCTS.png" alt="logo">
    </nav>
    <div class="container">
        {% if produtos|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th class="acoes">Ações</th>
                    </tr>
                </thead>                
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.name }}</td>
                        <td>R$ {{ produto.value }}</td>
                        <td class="acoes">
                            <form action="{{ url_for('edit_product', produto_id=produto.id) }}" method="GET" style="display:inline;">
                                <button class="action" type="submit">Editar</button>
                            </form>
                            <form action="{{ url_for('delete_product', produto_id=produto.id) }}" method="POST" style="display:inline;">
                                <button class="action" type="submit">Excluir</button>
                            </form>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        {% else %}
            <p>Você ainda não cadastrou nenhum produto.</p>
        {% endif %}
        <a href="{{ url_for('add_product') }}">
            <img src="/static/img/add.svg" alt="icon-add">
        </a>        
    </div>
</body>
</html>
