<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <nav>
        <img src="/static/img/GABRI3LA.png" alt="logo">
    </nav>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.name }}</td>
                    <td>R$ {{ produto.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_product') }}">
            <img src="/static/img/add.svg" alt="icon-add">
        </a>        
    </div>
</body>
</html>
